---
import AstroLink from './AstroLink.astro';

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<header class="blog-header">
  <div class="blog-header__content">
    <h2 class="site-title">
      <AstroLink class="site-title__link" href="/">{title}</AstroLink>
    </h2>
    <p class="site-description">{description}</p>
  </div>
</header>
