---
import AstroLink from './AstroLink.astro';

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<header class="blog-header">
  <div class="blog-header__content">
    <h2 class="site-title">
      <AstroLink class="site-title__link" href="/">{title}</AstroLink>
    </h2>
    <p class="site-description">{description}</p>
  </div>
</header>

<style lang="scss">
  @use "../styles/mixins.scss" as mx;

  .blog-header {
    margin: 0;
    padding: var(--spacing-md) var(--spacing-lg);
    background-color: var(--color-header-footer);
    box-shadow: var(--box-shadow);
    width: 100%;

    &__content {
      margin: 0 auto;
      max-width: 900px;
      width: 100%;
    }

    .site-title {
      padding: var(--spacing-sm) 0;
      margin: 0;

      color: #fff;
      font-size: 22px;
      font-weight: bold;
      text-align: center;

      &__link {
        color: #fff;
        position: relative;
        
        &:hover {
          color: var(--color-secondary);
        }
      }

      @include mx.sp {
        font-size: 20px;
      }
    }
    .site-description {
      padding: var(--spacing-sm) 0;
      margin: 0;

      color: rgba(255, 255, 255, 0.9);
      font-size: 16px;
      text-align: center;

      @include mx.sp {
        font-size: 14px;
      }
    }
  }
</style>
